/* Stile generale per la tabella */
table {
  width: 100%;
  border-collapse: collapse; /* Elimina gli spazi tra le celle */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px; /* Distanza dalla navbar */
  background-color: rgb(48, 99, 238);
  
}

 h1{
  margin-top: 100px;
  text-align: center;
  
} 

/* Stile per l'intestazione della tabella */
thead {
  background-color: #4e4f4e;  
  text-align: left;
  font-size: 1.1rem;
}

/* Stile per celle della tabella */
th, td {
    padding: 12px 15px;
    text-align: center;
    
}

/* Righe alternate con colore diverso */
tr:nth-child(even) {
  background-color: #bebcbc;
  color: #333;
}

/* Separazione tra le righe */
td {
  border-top: 1px solid #535151;  
}

/* Stile per l'intestazione */


/* Allineamento del titolo della tabella */
table caption {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px; /* Aggiungi un po' di spazio sotto il titolo */
  color: #333;
}
