
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(45deg, #ebebe4, #6694f1);
}

/* Header Section */
.header-titolo {
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Header Title Styling */
.header-titolo h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

/* Button Container */
.header-titolo div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Results Section Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

/* Styling for the individual routes' content */
.container {
  width: 80%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

button{
  background-color:rgb(185, 187, 189);  
  color: black;           
  padding: 15px 32px;         
  text-align: center;         
        
  
  font-size: 16px;            
  margin: 10px 20px;            
  border-radius: 10px;         
  transition: background-color 0.3s; 

 /* Larghezza e altezza fissa per i bottoni */
  width: 150px;               
  height: 70px;               

}